awscli
boto3
certifi
lxml
requests
graphene
pynamodb
python-dotenv
docutils
wheel
typing-extensions
tenacity
pymysql
pyathena
SQLAlchemy
graphene_sqlalchemy
zipp
promise
pendulum
cerberus
deepdiff
pytz
openpyxl
python-jose
chardet
logzero
phpserialize
requests_oauthlib
requests-toolbelt
appdirs
zeep
oauthlib
reportlab
jinja2
markupsafe
pyhumps
warlock
xmltodict
dicttoxml
pandas
jsonpickle
elasticsearch
hubspot-api-client
sentry-sdk
pydocparser
pillow
json2html
levenshtein
rapidfuzz
click
sshtunnel
pypng
qrcode
cached-property
pyyaml
openai
redis
orjson
pyarrow
pytest
git+https://github.com/ideabosque/silvaengine_utility.git@main#egg=silvaengine_utility
git+https://github.com/ideabosque/event_triggers.git@main#egg=event_triggers
git+https://github.com/ideabosque/silvaengine_base.git@main#egg=silvaengine_base
git+https://github.com/ideabosque/silvaengine_resouces.git@main#egg=silvaengine_resource
git+https://github.com/ideabosque/silvaengine_authorizer.git@main#egg=silvaengine_authorizer
git+https://github.com/ideabosque/silvaengine_dynamodb_base.git@main#egg=silvaengine_dynamodb_base
git+https://github.com/ideabosque/event_recorder.git@main#egg=event_recorder
git+https://github.com/ideabosque/mutex_engine.git@main#egg=mutex_engine